@using ModelData.Models.Database
@model Tuple<VideoModel, List<string>, int>

@{ 
    string Header = string.Empty;
    string Path = string.Empty;
    string VideoPath = string.Empty;
    int Id = 0;
    int IdBtn = Model.Item3;

    if(Model != null && Model.Item1 != null)
    {
        Header = Model.Item1.Header;
        Path = Model.Item1.Path;
        Id = Model.Item1.Id;

        if (!string.IsNullOrEmpty(Path))
        {
            VideoPath = Request.Url.Scheme + "://" + Request.Url.Authority + "/Files/Video/" + System.IO.Path.GetFileName(Path);
        }
    }
}

<div class="col-lg-12 col-md-12">
    <div class="card card-small mb-12">
        <div class="card-body">
            @using (Html.BeginForm("SetVideo", "Editor", FormMethod.Post))
            {
                <input type="text" name="Id" value="@Id" hidden />
                <input type="text" name="ButtonId" value="@IdBtn" hidden />
                <div class="form-group mb-12">
                    <label for="feFirstName">Заголовок</label>
                    <input type="text" class="form-control" name="Header" value="@Header" required>
                </div>
                <div class="form-group mb-12">
                    <video width="1000" height="700" controls="controls" poster="" codecs="avc1.42E01E, mp4a.40.2">
                        <source src="@VideoPath">
                    </video>
                </div>
                <div class="form-group mb-12">
                    <label for="feFirstName">Выбранный видеофайл</label>
                    <input id="video_path" type="text" class="form-control" name="Path" value="@Path" required>
                </div>
                <div class="form-group mb-12">
                    <label for="title">Список видеофайлов</label>
                    <div id="treeview1" class="treeview mb-12" style="max-height:350px; overflow: auto;">
                        <ul class="list-group">
                            @if (Model != null && Model.Item2 != null)
                            {
                                for (int i = 0; i < Model.Item2.Count; i++)
                                {
                                    <li class="list-group-item node-treeview1 node-selected" data-nodeid="0" style="color:undefined;background-color:undefined;">
                                        <label class="elm-label" style="color: #428bca; font-size:18px; margin-top:6px;">@Model.Item2[i]</label>
                                        <div style="float: right;">
                                            <button onclick="SetFileName(this);" class="btn btn-primary">Выбрать</button>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example" style="margin-top:12px;">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function SetFileName(e) {
    let elmLabel = $(e).offsetParent().find(".elm-label");
    // Получаем ссылку на видео
    let path = elmLabel.html();
    $("#video_path").val(path);

    var video = document.getElementsByTagName('video')[0];
    var sources = video.getElementsByTagName('source');
    var filename = path.replace(/^.*[\\\/]/, '')
        sources[0].src = location.protocol + "//" + location.host + "/Files/Video/" + filename;
    video.load();
}
</script>